src/main/mule/check.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="f72ee3ba-b58b-461a-9b73-7ff353ab9996" >
		<http:listener-connection host="0.0.0.0" port="8083" />
	</http:listener-config>
	<flow name="checkFlow" doc:id="b09023d9-4dea-4221-a013-42375e063d4b" >
		<http:listener doc:name="Listener" doc:id="6807f798-6a2a-44b0-928b-0945751dc07f" config-ref="HTTP_Listener_config" path="/check"/>
		<set-payload value='#["Message checked succesfully"]' doc:name="Set Payload" doc:id="41a97aaa-026e-40f7-8f06-6a049ab75615" />
	</flow>
</mule>
